@{
    ViewBag.Title = "Hello Mockups - Backend3";
}
<h1>Mockups</h1>
<ul>
    <li><a asp-controller="Quiz" asp-action="StartQuiz">Quiz</a></li>
    <li><a asp-controller="Quiz" asp-action="QuizResult">QuizResult</a></li>
</ul>
